{% import './modules/common/templates/macro.html' as macro %}
<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <title>{{ title || '工单申请'}}</title>
  <link rel="shortcut icon" href="{{ shost }}/mobile/images/favicon.ico" />
  <link rel="stylesheet" href="{{ shost }}/public/bootstrap/dist/css/bootstrap.min.css" />
  {% block style %}{% endblock %}
</head>
<body>
  {% block header %}{% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}

  <script src="{{ shost }}/public/jquery/dist/jquery.min.js"></script>
  <script src="{{ shost }}/public/bootstrap/dist/js/bootstrap.min.js"></script>
  {% block script %}{% endblock %}
</body>
</html>