{% import './modules/common/templates/macro.html' as macro %}
<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no" />
  <title data-whost="{{ whost }}">{% block title %}千丁小区{% endblock %}</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="{{ shost }}/mobile/css/base.css" />
  {% block style %}{% endblock %}
</head>
<body>
  {% block header %}{% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}
  <script src="{{ shost }}/public/vendor/zepto.js"></script>
  {% block script %}{% endblock %}
</body>
</html>