<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <meta name="format-detection" content="telephone=no,email=no,address=no" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <link rel="stylesheet" href="/static/vendor/exui.min.css" />
    <style>body { background-color: #f8f8f8; }</style>
    {% block style %}{% endblock %}
  </head>
  <body>
    {% block content %}
      <div id="root">
        <img style="width: 100%" src="//img1.qdingnet.com/7b994a7a5fbefbfb027835c764c3b7b6.png" />
      </div>
    {% endblock %}
    {% block script %}{% endblock %}
  </body>
</html>
