{% set title = "选择城市"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/location.css" />
{% endblock %}

{% block content %}
  <div class="city">
    <header class="bar fixed">
      {% if projectId %}
        {{ macro.iconBack() }}
      {% endif %}
      <h1>{{ title }}</h1>
    </header>
    <section class="has-header">
      <div class="geo">
        <h3>定位到您当前所在的城市是：</h3>
        <div class="list list-padding geo">
          <i class="item oneline text-gray">正在定位城市...</i>
        </div>
        <!-- <div class="city"><i class="text-gray">正在定位城市...</i></div> -->
      </div>
      
      {% for item in list %}
        <div class="list list-padding">
          {% for letter, citys in item %}
            <div class="item-divider">{{ letter }}</div>
            {% for city in citys %}
              <a href="/location/{{ city.id }}" class="item oneline"><span>{{ city.name }}</span></a>
            {% endfor %}
          {% endfor %}
        </div>
      {% endfor %}

      <div class="letters">
        <div class="wrap">
        {% for item in list %}
          {% for letter, citys in item %}
          <i>{{ letter }}</i>
          {% endfor %}
        {% endfor %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ shost }}/mobile/js/location.js"></script>
{% endblock %}