{% set title = "千丁互联 - 在线设计需求单"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <style type="text/css">
  body {background-color: #EEE;font-size: 14px; }
  .no-select{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
  #content {width:600px;margin:0 auto;background: #fff;padding:30px;border-radius: 10px;margin-top: 30px;}
  #content  .page-header {padding-bottom: 10px; margin: 0 0 20px 0px;}
  #content  .page-header h2 {margin-bottom: 17px;margin-top: 0;}
  #content  .actions {margin-bottom: 20px;}
  </style>
{% endblock %}

{% block content %}
  <div id="content">
    <div class="page-header">
      <h2 class="text-center">{{ title }}</h2>
    </div>
    <div class="actions text-right">
      <a class="btn btn-success" href="/work">+新增需求</a>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th>优先级</th>
          <th>需求人</th>
          <th>产品名称</th>
          <th>预期时间</th>
          <th>详情</th>
        </tr>
        {% for item in list %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.deploy }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.date }}</td>
            <td><a href="">详情</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}