{% set lightbg = true; %}
{% set title = "千丁小区"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/home.css" />
{% endblock %}

{% block content %}
  <div class="home">
    <header class="bar fixed">
      <h1>{{ title }}</h1>
    </header>
    <section class="has-header has-footer">
      <div class="slider">
        <div class="swiper-wrapper">
          {% for item in banners %}
            <a class="swiper-slide">
              <img src="{{ item.pic }}" alt="{{ item.title }}" />
            </a>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>

      {% if services %}
        <div class="channels row clearfix">
          {% for item in services %}
            {% if loop.index <= 4 %}
              <a href="/shopping/channel/{{ item.id }}" class="item col">
                <img src="{{ item.imageUrl }}" />
                <span>{{ item.name }}</span>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="actions">
        <a class="pull-left text-warning"><i class="icon icon-telephone"></i>管家电话</a>
        <a class="pull-right text-success"><i class="icon icon-passport"></i>访客通行</a>
      </div>

      {% if communitySales.length %}
        <div class="goods clearfix">
          {% for item in communitySales%}
            {% if item.type == 1%}
              <a href="/shopping/sales/{{ loop.index }}">
            {% else %}
              <a href="{{ item.url }}">
            {% endif %}
              <h3 class="ellipsis {{ ['text-danger', 'text-success', 'text-warning'][loop.index0] }}">{{ item.title }}</h3>
              <small class="text-gray ellipsis">{{ item.desc }}</small>
              <img src="{{ item.imageUrl }}" alt="{{ item.title }}" />
            </a>
          {% endfor %}
        </div>
      {% endif %}

    </section>
    {{ macro.footer('home') }}
  </div>
{% endblock %}

{% block script %}
  <script src="{{ shost }}/mobile/js/shopping.js"></script>
{% endblock %}