{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/home.css" />
{% endblock %}

{% block content %}
  <div class="home">
    <header class="bar fixed">
      <h1>千丁小区</h1>
    </header>
    <section class="has-header has-footer">
      <div class="slider">
        <img src="{{ shost }}/mobile/images/slider.jpg" />
      </div>
      <div class="notes">
        <div class="note">
          <p class="desc ellipsis"><i class="icon icon-notice"></i>今天13点至13:30分小区自来水停水今天13点至13:30分小区自来水停水</p>
          <span class="date text-gray">11月25日</span>
        </div>
      </div>
      <div class="cells clearfix">
        <a class="cell" href="">
          <i class="icon icon-phone"></i>
          <span>管家电话</span>
        </a>
        <a class="cell" href="">
          <i class="icon icon-pass"></i>
          <span>访客通行</span>
        </a>
        <a class="cell" href="">
          <i class="icon icon-key"></i>
          <span>我的钥匙</span>
        </a>
        <a class="cell" href="">
          <i class="icon icon-where"></i>
          <span>周末去哪</span>
        </a>
        <a class="cell" href="">
          <i class="icon icon-food"></i>
          <span>天天美食</span>
        </a>
        <a class="cell" href="">
          <i class="icon icon-house"></i>
          <span>我的房屋</span>
        </a>
      </div>
    </section>
    
    {{ macro.footer('home') }}
  </div>
{% endblock %}

{% block script %}
  <script src="{{ shost }}/mobile/js/home.js"></script>
{% endblock %}