{% set clazz = 'home' %}
{% set title = '我是首页' %}
{% extends layout %}
{% import macro as macro %}
{% block style %}
  <!-- 示范 version -->
  <link rel="stylesheet" type="text/css" href="{{ '/assets/static/css/home.css'|version }}" />
{% endblock %}
{% block content %}
  {% if not nested %}
    <header class="bar">
      {{ macro.back() }}
      <h1 class="title"><b>{{ title }}</b></h1>
    </header>
  {% endif %}

  <section class="main">
    <div class="text-center">
      <img src="/assets/static/images/logo.png" />
      <div>示意DEMO</div>
    </div>

    <div class="list">
      <form class="item" action="/upload" method="post" enctype="multipart/form-data">
        <input class="input" name="file" type="file" />
        <button class="button primary">上传</button>
      </form>
    </div>
  </section>

  <!-- 示范 include -->
  {% include "./partial/footer.html" %}
{% endblock %}
