{% set title = "千丁互联 - 在线设计需求单"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <style type="text/css">
  body {background-color: #EEE;font-size: 14px; }
  .no-select{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
  #content {width:600px;margin:0 auto;background: #fff;padding:30px;border-radius: 10px;margin-top: 30px;}
  #content  .page-header {padding-bottom: 10px; margin: 0 0 20px 0px;}
  #content  .page-header h2 {margin-bottom: 17px;margin-top: 0;}
  input,select,option,button,textarea {font-size: 14px!important;}
  #content > .form-horizontal {width:500px;margin:0 auto;}
  #preview img {border:1px solid #ddd;}
  .upload {position: relative;}
  .upload input[type="file"] {position: absolute;top: 0;left: 0;right:0;bottom: 0;z-index: 10;cursor: pointer;opacity: 0;}
  .upload [class^="col-"] {padding-left: 0;padding-right: 0;}
  .upload [class^="col-"]:last-child {padding-left: 20px;}
  .upload [class^="col-"]:last-child .btn {padding-top: 4px;padding-bottom: 4px;}
  .checkbox label {margin-right: 20px; margin-bottom: 10px;}
  .checkbox label input {vertical-align: middle;}
  .templates {display: none; }
  .modal-footer .btn {min-width: 80px;}
  #typeDialog label {display: block;padding: 8px 0;margin-bottom: 0;}
  #typeDialog th, #typeDialog td {border-top: none!important;border-bottom: 1px solid #ddd;padding: 0 8px;}
  #typeDialog input {margin-right: 10px;}
  #typeDialog span {margin-left: 10px; }
  .input-group-addon {cursor: pointer;}
  .form-control[readonly] {cursor: default;background-color: transparent;}
  </style>
{% endblock %}

{% block content %}
  <div id="content">
    <div class="page-header">
      <h2 class="text-center">{{ title }}</h2>
    </div>
    <form class="form-horizontal" method="post">
      <div class="form-group">
        <label class="col-sm-3 control-label">物料类型:</label>
        <div class="col-sm-9">
          <div class="input-group">
            <input id="echoType" type="text" class="form-control" placeholder="选择物料类型" readonly="true" />
            <span class="input-group-addon" data-toggle="modal" data-target="#typeDialog" >选择物料</span>
          </div>
          <input type="hidden" name="type" value="" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">主标题:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="例: 洗衣嘉年华" name="title" required/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">副标题:</label>
        <div class="col-sm-9">
          <textarea type="text" class="form-control" placeholder="例: 下单赢好礼！活动日期：8月30号" name="subtitle" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">文案内容:</label>
        <div class="col-sm-9">
          <div class="upload">
            <input type="file" class="form-control" />
            <div class="mock">
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="点击浏览按钮选择本地文件" name="papers" required />
              </div>
              <div class="col-sm-4">
                <button class="btn btn-default btn-block">浏览</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">参考效果:</label>
        <div class="col-sm-9">
          <div class="upload">
            <input type="file" class="form-control" accept="image/*" />
            <div class="mock">
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="点击浏览按钮选择本地图片" name="example" required />
              </div>
              <div class="col-sm-4">
                <button class="btn btn-default btn-block">浏览</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" id="preview" style="display:none">
        <label class="col-sm-3 control-label">预览效果:</label>
        <div class="col-sm-9">
          <img src="" width="367" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">设计要求:</label>
        <div class="col-sm-9">
          <textarea class="form-control" placeholder="风格上有什么要求或想法" name="remark"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">必要元素:</label>
        <div class="col-sm-9">
          <div class="checkbox">
            <label><input type="checkbox" name="material" value="image" /> APP图片</label>
            <label><input type="checkbox" name="material" value="qrcode1" /> APP二维码</label>
            <label><input type="checkbox" name="material" value="qrcode2" /> 微信二维码</label>
            <label><input type="checkbox" name="material" value="mobile" /> 电话号码 <span class="text-muted">(请在文案内容内填电话号码)</span></label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">应用场景:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="scene" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">需求人:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="deploy" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">完成时间:</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" name="date" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button type="submit" class="btn btn-primary btn-block btn-lg">提交</button>
        </div>
      </div>
    </form>
  </div>

  <!-- 弹窗模板-->
  <div class="modal fade" id="typeDialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body no-select">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <label>
                    <input type="checkbox" name="type" value="1" />
                    易拉宝 <span class="text-muted">宽80cm 高180cm</span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label>
                    <input type="checkbox" name="type" value="2" />
                    易拉宝 <span class="text-muted">宽100cm 高200cm</span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label>
                    <input type="checkbox" name="type" value="3" />
                    DM单 <span class="text-muted">A4</span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label>
                    <input type="checkbox" name="type" value="4" />
                    DM单 <span class="text-muted">A5</span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label>
                    <input type="checkbox" name="type" value="5" />
                    海报　<span class="text-muted">A4</span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label>
                    <input type="checkbox" name="type" value="6" />
                    自定义
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="chooseType()">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    function upload (file) {
      var data = new FormData();
      data.append('file', file);
      
      return $.ajax({
        url: '/common/upload',
        data: data,
        cache: false,
        contentType: false,
        processData: false,
        type: 'POST'
      });
    }

    // 选择物料类型
    function chooseType () {
      var map = {1: '易拉宝80X180', 2:'易拉宝100X200', 3:'DM单A4', 4:'DM单A5', 5:'海报A4'};
      var types = [];
      $('#typeDialog input[name="type"]').filter(':checked').each(function() {
        types.push({id: $(this).val(), key: map[$(this).val()]});
      });

      $('#echoType').val(types.reduce(function(a,b) {
        return a.key + ', ' + b.key;
      }));
      $('input[name="type"][type="hidden"]').val(types.reduce(function(a,b) {
        return a.id + ',' + b.id;
      }));
    }

    $('input[type="file"]').on('change', function(e) {
      var self = this;
      if (self.value) {
        upload(this.files[0]).then(function(res) {
          self.value = '';
          if (res.code === 200) {
            var data = res.data.list[0];
            $(self).parent().find('input[type="text"]').val(data.path);
            if ($(self).attr('accept')) {
              $('#preview').show().find('img').attr('src', data.path);
            }
          }
        });
      }
    });
  </script>
{% endblock %}