body {
  font-family: "Helvetica Neue", Helvetica, Arial, 'Microsoft Yahei';
}
input[type='password'] {
  font-family: sans-serif;
}
input.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty {
  border-color: #5cb85c;
}
input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty {
  border-color: #e40;
}
.input-group.ng-valid.ng-dirty .input-group-addon {
  color: #449d44;
  border-color: #5cb85c;
}
.input-group.ng-invalid.ng-dirty .input-group-addon {
  color: #a94442;
  border-color: #e40;
}
.input-group-addon {
  background-color: #f9f9f9;
}