<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>welcome</title>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" /><![endif]-->
    <!--[if lt IE 9]><script src="/static/js/lib/modernizr.js"></script><![endif]-->
    <link type="image/x-icon" rel="shortcut icon" href="/static/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="/static/css/base.css" />
  </head>
  <body>
    {{ welcome }}

    <script type="text/javascript" src="/static/js/lib/jquery.js"></script>
  </body>
</html>