{% set lightbg = true; %}
{% set title = project.name; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/assistant.css" />
{% endblock %}

{% block content %}
  <div class="assistant">
    <header class="bar fixed">
      {{ macro.iconBack('/home') }}
      <h1>{{ title }}</h1>
    </header>
    <section class="has-header has-footer">
      <div class="list">
        <a class="item">
          <i class="icon icon-assistant-notice"></i>
          <h3>通知公告</h3>
          <small class="text-gray">社区通知，及时告知</small>
        </a>
        <a class="item">
          <i class="icon icon-assistant-repair"></i>
          <h3>报事报修</h3>
          <small class="text-gray">文字、语音、图片，轻松报事，化繁为简</small>
        </a>
        <a class="item">
          <i class="icon icon-assistant-release"></i>
          <h3>访客通行</h3>
          <small class="text-gray">客人来访，扫码放行，省时省力</small>
        </a>
        <a class="item">
          <i class="icon icon-assistant-charge"></i>
          <h3>物业账单</h3>
          <small class="text-gray">一键查询物业账单，收费情况一目了然</small>
        </a>
        <a class="item">
          <i class="icon icon-assistant-invite"></i>
          <h3>邀请加入</h3>
          <small class="text-gray">邀请我的朋友、租客、装修负责人</small>
        </a>
        <a class="item">
          <i class="icon icon-assistant-accept"></i>
          <h3>接受邀请</h3>
          <small class="text-gray">扫一扫验证码，注册、验证一步完成</small>
        </a>
        <a class="item">
          <i class="icon icon-assistant-laundry"></i>
          <h3>千丁洗衣</h3>
          <small class="text-gray">开启</small>
        </a>
      </div>
    </section>
    {{ macro.footer('assistant') }}
  </div>
{% endblock %}