{% set title = "物业账单"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/assistant.css" />
{% endblock %}

{% block content %}
  <div class="charge">
    <header class="bar fixed">
      {{ macro.iconBack('/assistant') }}
      <h1>{{ title }}</h1>
    </header>
    <section class="has-header">
      <div class="list">
        <div class="item oneline item-icon-right">
          <h2 class="ellipsis">房屋：北京市朝阳区长楹天街星座7栋1709</h2>
          <i class="icon icon-detail"></i>
        </div>
      </div>
      <div class="row summary small text-center">
        <div class="col">
          <span>未缴金额合计</span>
          <span class="text-danger">290.80</span>
        </div>
        <div class="col">
          <span>预缴款余额</span>
          <span class="text-danger">2090</span>
        </div>
      </div>
      <div class="tabs-box">
        <div class="tabs">
          <span class="tab active" onclick="$(this).addClass('active').siblings().removeClass('active');$('.item.detail').show();">全部账单</span>
          <span class="tab" onclick="$(this).addClass('active').siblings().removeClass('active');$('.item.detail').hide();">未缴账单</span>
        </div>
      </div>
      <div class="list border">
        <div class="item item-icon-right small detail">
          <span class="tag">未交</span>
          <span class="only">2014-11</span>
          <span class="multi total">费用合计<br />1013.00</span>
          <span class="multi">未缴金额<br /><i class="text-danger">00.00</i></span>
          <i class="icon icon-detail"></i>
        </div>
        <div class="item item-icon-right small detail">
          <span class="only">2014-11</span>
          <span class="multi total">费用合计<br />1013.00</span>
          <span class="multi">未缴金额<br /><i class="text-danger">00.00</i></span>
          <i class="icon icon-detail"></i>
        </div>
        <div class="item item-icon-right small detail">
          <span class="only">2014-11</span>
          <span class="multi total">费用合计<br />1013.00</span>
          <span class="multi">未缴金额<br /><i class="text-danger">00.00</i></span>
          <i class="icon icon-detail"></i>
        </div>
        <div class="item item-icon-right small detail">
          <span class="only">2014-11</span>
          <span class="multi total">费用合计<br />1013.00</span>
          <span class="multi">未缴金额<br /><i class="text-danger">00.00</i></span>
          <i class="icon icon-detail"></i>
        </div>
      </div>
    </section>
  </div>
{% endblock %}