{% set title = "通知公告"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/assistant.css" />
{% endblock %}

{% block content %}
  <div class="notices">
    <header class="bar fixed">
      {{ macro.iconBack('/assistant') }}
      <h1>{{ title }}</h1>
    </header>
    <section class="has-header">
      {% if list.length %}
        <div class="list">
          {% for item in list %}
            <a class="item item-icon-right" href="/assistant/notice/{{ item.id }}">
              <h3 class="ellipsis">{{ item.title }}</h3>
              <small class="text-gray">{{ item.createAt|date('Y-m-d H:i:s') }}</small>
              <i class="icon icon-detail"></i>
            </a>
          {% endfor %}
        </div>
      {% else %}
        <div class="blank">
          <div class="wrap">
            <i class="icon icon-noorder"></i>
            <h3 class="text-gray">您所在的社区还没有发布任何公告</h3>
          </div>
        </div>
      {% endif %}
    </section>
  </div>
{% endblock %}