{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/profile.css" />
{% endblock %}

{% block content %}
  <div class="addcoupon">
    <header class="bar fixed">
      {{ macro.iconBack('/account/coupons') }}
      <h1>添加千丁券</h1>
    </header>
    <section class="has-header">
      {% if error %}
        <center class="alert alert-warning">{{ error|safe }}</center>  
      {% endif %}
      <form method="post" autocomplete="off">
        <div class="list">
          <label class="item-input">
            <input type="text" name="code" placeholder="请输入千丁券序列号" maxlength="20" required />
          </label>
        </div>
        <div class="submit padding">
          <button class="button button-warning button-block">添加</button>
        </div>
      </form>
    </section>
  </div>
{% endblock %}