{% set lightbg = false; %}
{% set title = "千丁劵详情"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/profile.css" />
{% endblock %}

{% block content %}
  <div class="coupon">
    <header class="bar fixed">
      {{ macro.iconBack('/account/coupons') }}
      <h1>{{ title }}</h1>
    </header>
    <section class="has-header has-footer">
      <div class="item-padding coupon-title"><p>劵状态：<span>{{ status|coupon }}</span></p></div>
      <div class="coupon-info">
        <div class="coupon-info-money"><img src="{{ shost }}/mobile/images/profile/money-{{ price }}.png" /></div>
        <div class="coupon-info-ico"><img src="{{ shost }}/mobile/images/profile/voucher.png" /></div>
        <p class="coupon-info-code">NO . {{ code }}</p>
        <p class="coupon-info-time">有效期：{{ validStart|date('Y年m月d日') }}起至{{ validEnd|date('Y年m月d日') }}</p>
      </div>
      <div class="coupon-law">
        <h3>使用须知：</h3>
        <ul class="num-list">
          <li><p>1.千丁券在有效期内使用，过期无效</p></li>
          <li><p>2.在手机端和物业前台付款时，都可以选择使用千丁券。输入券的序列号验证通过后，券金额即可抵扣相应的订单金额</p></li>
          <li><p>3.千丁券可叠加使用，但券值的总额不得超过订单总金额的50%</p></li>
          <li><p>4.一张千丁券只能使用一次，千丁券不找零、不兑换。付款时若选择了使用千丁券，则会被优先使用</p></li>
          <li><p>5.使用千丁券购买的产品，支持签收前整单全退，千丁券的金额不予退回</p></li>
          <li><p>6.千丁券不记名，不挂失，不可出售与转让，不可购买其他千丁券类产品</p></li>
        </ul>
      </div>
    </section>
    <footer class="bar fixed bar-button">
      <a href="/shopping" class="button button-warning button-block">立即使用</a>
    </footer>
  </div>
{% endblock %}