{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/login.css" />
{% endblock %}

{% block content %}
  <div class="login">
    <header class="bar fixed">
      <a class="left-icon" onclick="javascript:history.back();"><i class="icon icon-back"></i></a>
      <nav>
        <a href="{{ macro.url('/login', {next: next}) }}" class="active">登录</a>
        <a href="{{ macro.url('/register', {next: next}) }}">注册</a>
        <!-- <a href="">邀请码</a> -->
      </nav>
    </header>
    <section class="has-header">
      <form method="post">
        <div class="list">
          <label class="item-input">
            <input type="tel" name="mobile" placeholder="手机号" maxlength="11" require value="{{ mobile }}" />
          </label>
          <label class="item-input">
            <input type="password" name="password" placeholder="密码" maxlength="20" require />
          </label>
        </div>
        <div class="submit padding">
          <button class="button button-warning button-block">登录</button>
        </div>
        <div class="small text-right text-gray padding-horizontal"><a href="/forgot">忘记密码</a></div>
      </form>
    </section>
  </div>
{% endblock %}

{% block script %}
  <!-- // <script src="{{ shost }}/mobile/js/login.js"></script> -->
{% endblock %}