{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/login.css" />
{% endblock %}

{% block content %}
  <div class="login">
    <header class="bar fixed">
      {{ macro.iconBack() }}
      <nav>
        <a href="{{ macro.url('/account/login', {next: next}) }}" class="active">登录</a>
        <a href="{{ macro.url('/account/register', {next: next}) }}">注册</a>
        <!-- <a href="">邀请码</a> -->
      </nav>
    </header>
    <section class="has-header">
      <div class="box">
        {% if error %}
          <center class="alert alert-warning">{{ error }}</center>  
        {% endif %}
        <form method="post" autocomplete="off">
          <div class="list">
            <label class="item-input">
              <input type="tel" name="mobile" placeholder="手机号" maxlength="11" required value="{{ mobile }}" />
            </label>
            <label class="item-input">
              <input type="password" name="password" placeholder="密码" maxlength="20" required />
            </label>
          </div>
          <div class="submit padding">
            <button class="button button-warning button-block">登录</button>
          </div>
          <div class="small text-right text-gray padding-horizontal"><a href="/account/forgot">忘记密码</a></div>
        </form>
      </div>
    </section>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ shost }}/mobile/js/login.js"></script>
{% endblock %}