{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/profile.css" />
{% endblock %}

{% block content %}
  <div class="password">
    <header class="bar fixed">
      {{ macro.iconBack() }}
      <h1>修改密码</h1>
    </header>
    <section class="has-header">
      <div class="box margin-vertical">
        {% if error %}
          <center class="alert alert-warning">{{ error }}</center>  
        {% endif %}
        <form method="post" autocomplete="off">
          <div class="list">
            <label class="item-input has-label">
              <span class="label">原密码：</span>
              <input type="password" name="oldpwd" placeholder="请输入原密码" autofocus required />
            </label>
            <label class="item-input has-label">
              <span class="label">新密码：</span>
              <input type="password" name="newpwd" placeholder="请输入新密码 (长度至少6位)" required />
            </label>
          </div>
          
          <div class="submit padding">
            <button class="button button-warning button-block">确定</button>
          </div>
        </form>
      </div>
    </section>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ shost }}/mobile/js/password.js"></script>
{% endblock %}