{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/profile.css" />
{% endblock %}

{% block content %}
  <div class="profile">
    <header class="bar fixed">
      <a class="left-icon" href=""><i class="icon icon-back"></i></a>
      <h1>千丁管家</h1>
    </header>
    <section class="has-header has-footer">
      <div class="profile-head-box">
        <div class="profile-head-info">
          {% if user %}
            <div class="head">
              <img src="{{ user.image || shost + '/mobile/images/profile/icon_head.png' }}" />
            </div>
            <p class="profile-message">{{ user.name }}</p>
          {% else %}
            <div class="head">
              <img src="{{ shost }}/mobile/images/profile/icon_head.png" />
            </div>
            <p class="profile-message"><a href="{{ macro.url('/login', {next: '/profile'}) }}">未登录，点击登录或注册</a></p>
          {% endif %}
          
        </div>
      </div>
      <div class="profile-list-box">
        <ul>
          <a href="myorder.html"><i class="icon icon-order profile-list-icon"></i>我的订单<i class="icon icon-detail pull-right"></i></a>
          <a href="coupons.html"><i class="icon icon-coupon profile-list-icon"></i>我的千丁劵<i class="icon icon-detail pull-right"></i></a>
          <a><i class="icon icon-information profile-list-icon"></i>收货人信息<i class="icon icon-detail pull-right"></i></a>
          <a><i class="icon icon-shop profile-list-icon"></i>我的购物车<i class="icon icon-detail pull-right"></i></a>
          <a><i class="icon icon-favorites profile-list-icon"></i>我的收藏<i class="icon icon-detail pull-right"></i></a>
        </ul>
      </div>
    </section>
    <footer class="bar fixed">
      <nav><a href=""><i class="icon icon-tab-home"></i></a> <a href=""><i class="icon icon-tab-housekeep"></i></a> <a href=""><i class="icon icon-tab-shopping"></i></a> <a href=""><i class="icon icon-tab-neighbour"></i></a></nav>
    </footer>
  </div>
{% endblock %}

{% block script %}
  <!-- // <script src="{{ shost }}/mobile/js/register.js"></script> -->
{% endblock %}