{% set lightbg = true; %}
{% set title = "我的"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/profile.css" />
{% endblock %}

{% block content %}
  <div class="profile">
    <header class="bar fixed">
      {{ macro.iconBack() }}
      <h1>{{ title }}</h1>
    </header>
    <section class="has-header has-footer">
      <a class="user {% if user %}logined{% endif %}" href="/account/settings">
        <div class="head">
          <img src="{{ user.thumb || shost + '/mobile/images/profile/user.png' }}" />
        </div>
        <h3 class="name">{{ user.name || '未登录，点击登录或注册'}}</h3>
        <i class="icon icon-more-white settings"></i>
      </a>
      <div class="list">
        <a class="item oneline item-icon-right" href="/shopping/orders">
          <span><i class="icon icon-order"></i> 我的订单</span>
          <i class="icon icon-detail"></i>
        </a>
        <a class="item oneline item-icon-right" href="/account/coupons">
          <span><i class="icon icon-coupon"></i> 我的千丁劵</span>
          <i class="icon icon-detail"></i>
        </a>
        <a class="item oneline item-icon-right" href="/account/addresses">
          <span><i class="icon icon-address"></i> 收货人信息</span>
          <i class="icon icon-detail"></i>
        </a>
        <a class="item oneline item-icon-right" href="/shopping/cart">
          <span><i class="icon icon-mycart"></i> 我的购物车</span>
          <i class="icon icon-detail"></i>
        </a>
        <a class="item oneline item-icon-right" href="/shopping/collect">
          <span><i class="icon icon-favorites"></i> 我的收藏</span>
          <i class="icon icon-detail"></i>
        </a>
      </div>
    </section>
    {{ macro.footer('profile') }}
  </div>
{% endblock %}

{% block script %}
  <script src="{{ shost }}/mobile/js/profile.js"></script>
{% endblock %}