{% set lightbg = true; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/profile.css" />
{% endblock %}

{% block content %}
  <div class="register">
    <header class="bar fixed">
      {{ macro.iconBack() }}
      <nav class="entry">
        <a href="{{ macro.url('/account/login', {next: next}) }}">登录</a>
        <a href="{{ macro.url('/account/register', {next: next}) }}" class="active">注册</a>
      </nav>
    </header>
    <section class="has-header">
      {% if error %}
        <center class="alert alert-warning">{{ error }}</center>  
      {% endif %}
      <div class="tips text-gray small padding-horizontal ellipsis">* 请输入您用户登录的手机号码</div>
      <form method="post" autocomplete="off">
        <div class="list border">
          <label class="item-input">
            <input type="tel" name="mobile" placeholder="请输入手机号" maxlength="11" value="{{ mobile }}" required />
            <a class="getcapture text-warning" onclick="getCaptcha()">获取验证码</a>
          </label>
          <label class="item-input">
            <input type="text" name="captcha" placeholder="请输入验证码" maxlength="4" required />
          </label>
          <label class="item-input">
            <input type="password" name="password" placeholder="请输入登录密码 (至少6位)" maxlength="20" required />
          </label>
        </div>
        <label class="center-block protocal small text-gray text-center padding">
          <input type="checkbox" name="protocal" value="true" checked /> 我接受“千丁”的服务条款和隐私协议
        </label>
        <div class="submit padding">
          <button class="button button-warning button-block">完成</button>
        </div>
      </form>
    </section>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ shost }}/mobile/js/register.js"></script>
{% endblock %}