{% set lightbg = true; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/profile.css" />
{% endblock %}

{% block content %}
  <div class="settings">
    <header class="bar fixed">
      {{ macro.iconBack('/profile') }}
      <h1>个人资料</h1>
    </header>
    <section class="has-header">
      <div class="list">
        <div class="item item-icon-right oneline figure">
          <span class="pull-left">头像</span>
          <span class="pull-right head">
            <img src="{{ user.image || shost + '/mobile/images/profile/icon_head.png' }}" id="head-pic" />
          </span>
          <i class="icon icon-detail"></i>
          <input type="file" name="file" id="upload" />
        </div>
        <a class="item item-icon-right oneline">
          <span class="pull-left">姓名</span>
          <span class="pull-right">李双宝</span>
          <i class="icon icon-detail"></i>
        </a>
        <div class="item oneline">
          <span class="pull-left">性别</span>
          <div class="track-options">
            <span {% if user.sex === 1 %}class="active"{% endif %}>男</span>
            <span {% if user.sex === 0 %}class="active"{% endif %}>女</span>
            <span {% if user.sex === -1 %}class="active"{% endif %}>保密</span>
          </div>
        </div>
        <a class="item item-icon-right oneline" href="/account/signature">
          <span class="pull-left">个性签名</span>
          <span class="pull-right text-gray signature ellipsis">{{ user.signature }}</span>
          <i class="icon icon-detail"></i>
        </a>
      </div>

      <div class="list border">
        <a class="item item-icon-right oneline" href="/location">
          <span class="pull-left">我的房屋</span>
          <span class="pull-right text-gray signature ellipsis">{{ project.name }}</span>
          <i class="icon icon-detail"></i>
        </a>
      </div>

      <div class="list border">
        <a class="item item-icon-right oneline" href="/account/password">
          修改密码 <i class="icon icon-detail"></i>
        </a>
        {% if user.mobile %}
          <div class="item oneline">
            <span class="pull-left">绑定手机</span>
            <span class="pull-right">{{ user.mobile }}</span>  
          </div>
        {% else %}
          <a class="item item-icon-right oneline" href="/account/refined">
            <span class="pull-left">未绑定</span>
            <i class="icon icon-detail"></i>
          </a>
        {% endif %}
      </div>
    </section>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ shost }}/mobile/js/settings.js"></script>
{% endblock %}