{% set lightbg = true; %}
{% set title = "修改个性签名"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/profile.css" />
{% endblock %}

{% block content %}
  <div class="signature">
    <header class="bar fixed">
      {{ macro.iconBack('/account/settings') }}
      <h1>{{ title }}</h1>
    </header>
    <section class="has-header">
      <form method="post" action="/account/update">
        <label class="textarea">
          <textarea placeholder="修改您的个性签名，最多36个文字" maxlength="36" name="signature">{{ signature }}</textarea>
        </label>
        <div class="submit padding">
          <button class="button button-warning button-block">修改</button>
        </div>
      </form>
    </section>
  </div>
{% endblock %}

{% block script %}
  <!-- // <script src="{{ shost }}/mobile/js/settings.js"></script> -->
{% endblock %}