{% set lightbg = true; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/profile.css" />
{% endblock %}

{% block content %}
  <div class="refined">
    <header class="bar fixed">
      {{ macro.iconBack('/account/settings') }}
      <h1>修改姓名</h1>
    </header>
    <section class="has-header">
      {% if error %}
        <center class="alert alert-warning">{{ error }}</center>  
      {% endif %}
      <form method="post" autocomplete="off" action="/account/update">
        <div class="list">
          <label class="item-input">
            <input type="text" name="name" placeholder="请输入您的姓名" maxlength="20" value="{{ name }}" required />
          </label>
        </div>
        <div class="submit padding">
          <button class="button button-warning button-block">修改</button>
        </div>
      </form>
    </section>
  </div>
{% endblock %}