{% set title = "风筝彩绘"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <style type="text/css">
    .home .bg {display: block;width:100%;}
    .home .details {position: absolute;width: 100%;top: 12.5rem;color:#a53c31;}
    .home .details span {display: block; line-height: 1.5625rem;}
    .home .details .button img {width: 7.8125rem;height:2.1875rem;}
    .home .divider {margin-top: 0.3rem;}
    .home .button {margin-top: 0.8rem;}

    .padding {padding: 1.25rem;}
    .padding h1 {line-height: 1;color: #666;}
    .padding h2 {color: #666;margin:0.46875rem 0 1.5625rem;font-weight: normal;}
    .padding .details {color: #ff7800;}
    .padding .details {margin-top: 1.25rem;}
    .padding .details li {margin-bottom: 0.46875rem;color: #ff7800;}
    .padding .tab {border-bottom: 0.09375rem solid #ffba00;margin-top: 1.5625rem;margin-bottom: 1.25rem;}
    .padding .tab span {display: block;width:6.875rem;height: 1.875rem;line-height: 1.875rem;color: #fff;background-color:#ffba00;  border-radius: 0.3125rem 0.3125rem 0 0;}
    .padding .form-control {margin-bottom: 0.9375rem;}
    .padding .form-control input, .form-control select {display: block;width: 100%;height:1.875rem;padding: 0 0.3125rem;border-radius: 0.15625rem;border:1px solid #ddd;}
    .padding .form-control select {background-color: #fff;}
    .padding .form-control button {background:transparent;border:none;padding: 0;}
    .padding .update img {width: 8.0625rem;height:2.4375rem;}
    .padding .phone img {width:0.96875rem;height:1.15625rem;}
    .padding .footer {margin-top: 0.9375rem;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 0.625rem 0;}
    .padding .footer img {width: 100%;}
    .padding .prevent {pointer-events: none;background-color: #fafafa!important;}
  </style>
{% endblock %}

{% block content %}
  <section class="qinzi">
    {% if entity %}
      <div class="padding">
        <h1 class="text-center">龙湖亲子风筝彩绘DIY</h1>
        <h2 class="text-center">&amp;亲子旅行分享</h2>
        <p class="small">亲子同行，放飞春天，画一个属于自己的风筝。</p>
        <ul class="details small">
          <li><label>活动时间：</label>4月18日 14:30-17:00</li>
          <li><label>活动地点：</label>唐宁one社区居委会阳光房</li>
          <li><label>礼品内容：</label>冰激凌券、洗车卡、儿童旅行图书...参与就有礼！</li>
        </ul>

        <div class="register">
          <div class="tab text-center">
            <span>报名信息</span>
          </div>
          <div class="small">
            <div class="form-control">联系人：{{ entity.name }}</div>
            <div class="form-control">联系电话：{{ entity.mobile }}</div>
            <div class="form-control">儿童人数：{{ entity.childAge.length }}</div>
            <div class="form-control">陪同人数：{{ entity.accompanyNum }}</div>

            <div class="form-control text-center">
              <a class="update" href="/activity/qinzidiy/register"><img src="{{ shost + '/mobile/images/storage/sjdiy/update.png' }}" /></a>
            </div>
          </div>
          <div class="phone text-center text-gray">
            <img src="{{ shost + '/mobile/images/storage/sjdiy/phone.png'}}" />
            咨询热线：<a class="tel" href="tel:010-59427316">010-59427316</a>
          </div>

          <div class="footer text-center">
            <img src="{{ shost + '/mobile/images/storage/sjdiy/footer.jpg'}}" />
          </div>
        </div>
      </div>
    {% else %}
      <div class="home">
        <img class="bg" src="{{ shost + '/mobile/images/storage/sjdiy/home.jpg'}}" alt="风筝彩绘" />
        <div class="details text-center">
          <span class="time">4月18日 14:30-17:00</span>
          <span class="address">【唐宁one社区居委会阳光房】</span>
          <span class="divider">参与就有礼！</span>
          <a class="button" href="/activity/qinzidiy/register"><img src="{{ shost + '/mobile/images/storage/sjdiy/join.png' }}" /></a>
        </div>
      </div>
    {% endif %}
  </section>
{% endblock %}