<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <title>{{ title|default('千丁商户')}}</title>
    <meta name="format-detection" content="telephone=no,email=no,address=no" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <link rel="shortcut icon" href="/favicon.ico"/>
    <!-- http://exui.legend.life -->
    <link rel="stylesheet" href="//exui.legend.life/style/exui.min.css" />
    {% block style %}{% endblock %}
  </head>
  <body class="{{ clazz }}">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block script %}{% endblock %}
  </body>
</html>
