{% set lightbg = list.length > 0; %}
{% set title = "我的购物车"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/shopping.css" />
{% endblock %}

{% set total = 0; %}
{% set saved = 0; %}
{% block content %}
  <div class="cart">
    <form method="post" name="cart" action="/shopping/confirm">
      <header class="bar fixed">
        {{ macro.iconBack() }}
        <h1>{{ title }}</h1>
        {% if list.length %}<span class="right-icon"><i class="icon icon-trash"></i></span>{% endif %}
      </header>
      <section class="has-header has-footer">
        {% if list.length %}
          {% for item in list %}
            {% set total += item.price * item.count; %}
            {% set saved += item.originalPrice * item.count - item.price * item.count; %}
            <div class="list {% if !loop.first %}border{% endif %}">
              <div class="item item-checkbox item-thumbnail">
                <label class="checkbox">
                  <input type="checkbox" name="goods" value="{{ item.goodsId }}" checked />
                </label>
                <a class="thumbnail" href="/shopping/details/{{ item.goodsId }}">
                  <img src="{{ item.img }}" />
                </a>
                <div class="information">
                  <h3 class="ellipsis">{{ item.publishName }}</h3>
                  <div class="price">
                    <span class="text-danger">{{ item.price|currency }}</span>
                    <span class="small text-grayer through">{{ item.originalPrice|currency }}</span>
                  </div>
                  <div class="counter">
                    <span class="minus"><i class="icon icon-minus"></i></span>
                    <input type="number" class="number text-center text-gray" name="count" value="{{ item.count }}" readonly="readonly" />
                    <span class="plus"><i class="icon icon-plus"></i></span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="blank">
            <div class="wrap">
              <i class="icon icon-nocart"></i>
              <h3 class="text-gray">购物车还是空的，去挑选宝贝吧！</h3>
              <a href="/shopping" class="button button-warning">去逛逛</a>
            </div>
          </div>
        {% endif %}
      </section>

      {% if list.length %}
        <footer class="bar fixed">
          <div class="charge">
            <label class="checkbox pull-left">
              <input type="checkbox" name="checkAll" value="{{ item.goodsId }}" checked />
              <small>全选</small>
            </label>
            <div class="pull-right">
              <span class="small pull-left">
                合计:<i class="text-warning">{{ total|currency }}</i><br />
                节省:<i class="text-warning">{{ saved|currency }}</i>
              </span>
              <button class="button button-warning pull-left">去结算</button>
            </div>
          </div>
        </footer>
      {% endif %}
    </form>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ shost }}/mobile/js/shopping.js"></script>
{% endblock %}