{% set lightbg = list.length > 0; %}
{% set title = "我的收藏"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/shopping.css" />
{% endblock %}

{% block content %}
  <div class="collect">
    <header class="bar fixed">
      {{ macro.iconBack('/profile') }}
      <h1>{{ title }}</h1>
      {% if list.length %}<a class="action small text-warning">编辑</a>{% endif %}
    </header>
    <section class="has-header">
      {% if list.length %}
        <div class="graphic clearfix">
          {% for item in list %}
            <div class="piece">
              <label class="checkbox">
                <input type="checkbox" value="{{ item.id }}" />
              </label>
              <div class="figure row">
                <a class="col" href="/shopping/details/{{ item.id }}">
                  <img src="{{ item.goodsImg }}" />
                </a>
              </div>
              <div class="information">
                <h3 class="ellipsis text-gray small">{{ item.publishName }}</h3>
                <div class="price">
                  <span class="text-danger">{{ item.price|currency }}</span>
                  <span class="tiny text-gray through">{{ item.originalPrice|currency }}</span>
                  <span class="tiny text-gray pull-right counts">
                    <i class="icon icon-fav-gray"></i>98
                  </span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="blank">
          <div class="wrap">
            <i class="icon icon-nofavorite"></i>
            <h3 class="text-gray">您还没有商品收藏哦</h3>
          </div>
        </div>
      {% endif %}
    </section>
  </div>
{% endblock %}

{% block script %}
  <!-- // <script src="{{ shost }}/mobile/js/register.js"></script> -->
{% endblock %}