{% set lightbg = list.length > 0; %}
{% set title = "我的订单"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/shopping.css" />
{% endblock %}

{% block content %}
  <div class="orders">
    <header class="bar fixed">
      {{ macro.iconBack('/profile') }}
      <h1>{{ title }}</h1>
    </header>
    <section class="has-header">
      {% if list.length %}
        {% for item in list %}
          <div class="list {% if !loop.first %}border{% endif %}">
            <div class="item balance">
              <div class="summary small pull-left">
                <p>状态：<i class="text-danger">{{ item.status|order }}</i></p>
                <p>总价：<i class="text-danger">{{ item.totalRealpay|currency }}</i></p>
              </div>
              {% if item.status == 1 || item.status == 6 %}
              <div class="pull-right">
                <button class="button button-warning small">去支付</button>
              </div>
              {% endif %}
            </div>
            <a href="/shopping/order/{{ item.id }}">
              {% for goods in item.list %}
                <div class="item item-thumbnail">
                  <div class="thumbnail">
                    <img src="{{ goods.img }}" />
                  </div>
                  <div class="information small">
                    <h3 class="ellipsis">{{ goods.publishName }}</h3>
                    <div class="price">
                      <span class="text-danger">{{ goods.price|currency }} x {{ goods.count }}</span>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </a>
          </div>
        {% endfor %}
      {% else %}
        <div class="blank">
          <div class="wrap">
            <i class="icon icon-noorder"></i>
            <h3 class="text-gray">还没有订单哦，去乐购看看吧~</h3>
            <a href="/shopping" class="button button-warning">去逛逛</a>
          </div>
        </div>
      {% endif %}
    </section>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ shost }}/mobile/js/shopping.js"></script>
{% endblock %}