{% set lightbg = true; %}
{% set title = "下单成功"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/shopping.css" />
{% endblock %}

{% block content %}
  <div class="payment">
    <header class="bar fixed">
      {{ macro.iconBack('/shopping') }}
      <h1>{{ title }}</h1>
    </header>
    <section class="has-header has-footer">
      <div class="list">
        <a class="item item-icon-right" href="/shopping/order/{{ order.id }}">
          <i class="icon icon-detail"></i>
          <p class="clearfix">
            <span class="pull-left">{{ order.addressName }}</span>
            <span class="pull-right small text-gray">{{ order.addressPhone }}</span>
          </p>
          <p class="small text-gray">订单号：{{ order.code }}</p>
          <p class="small text-gray">支付方式：{{ order.paymentType|payment}}</p>
          <p class="small text-gray">应付金额：<i class="text-danger">{{ order.totalRealpay|currency }}</i></p>
        </div>
      </a>
      <h2 class="text-warning text-center">
        <i class="icon icon-success"></i>下单成功！
      </h2>
      <div class="message small">
        <p class="text-warning text-center">请您到下面的地址进行付款：</p>
        <p class="padding-horizontal text-gray">地址：{{ order.paddressName }}</p>
      </div>
    </section>
    <footer class="bar fixed bar-buttons">
      <div class="row">
        <div class="col">
          <a class="button button-warning button-block button-outline cart" href="/shopping">返回乐购</a>
        </div>
        <div class="col">
          <button class="button button-warning button-block">立即付款</button>
        </div>
      </div>
    </footer>
  </div>
{% endblock %}