{% set lightbg = true; %}
{% set title = "乐购"; %}
{% extends './modules/common/templates/layout.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/shopping.css" />
{% endblock %}

{% block content %}
  <div class="shopping">
    <header class="bar fixed">
      {{ macro.iconBack('/home') }}
      <h1>{{ title }}</h1>
      <a class="right-icon"><i class="icon icon-cart"></i></a>
    </header>
    <section class="has-header has-footer">
      <div class="slider">
        <div class="swiper-wrapper">
          <!-- 0:单品 1:活动单品 2:活动列表 3:列表 4:首页活动 5:乐购首页链接 -->
          {% for item in activity %}
            {% if item.type == 0 || item.type == 1 %}
              <a class="swiper-slide" href="/shopping/details/{{ item.goodsId }}">
                <img src="{{ item.navigation }}">
              </a>
            {% elif item.type == 3 %}
              <a class="swiper-slide" href="/shopping/activity/{{ item.id }}">
                <img src="{{ item.navigation }}">
              </a>
            {% elif item.type == 5 %}
            <a class="swiper-slide" href="{{ item.url }}">
                <img src="{{ item.navigation }}">
              </a>
            {% else %}
              <a class="swiper-slide">
                <img src="{{ item.navigation }}">
              </a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>

      {% if category %}
        <div class="channels clearfix">
          {% if category.length > 4 %}
            {% for item in category %}
              {% if loop.index < 4 %}
                <a href="/shopping/channel/{{ item.id }}" class="item">
                  <img src="{{ item.icon }}" />
                  <span>{{ item.name }}</span>
                </a>
              {% endif %}
            {% endfor %}
            <a href="/shopping/category" class="item">
              <i class="icon icon-more center-block"></i>
              <span>更多分类</span>
            </a>
          {% else %}
            {% for item in category %}
              <a href="/shopping/channel/{{ item.id }}" class="item">
                <img src="{{ item.icon }}" />
                <span>{{ item.name }}</span>
              </a>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      {% if recommend%}
        {% for group in recommend %}
          {% if group.rg.length && loop.index <= 4 %}
            <div class="promotes">
              <div class="header clearfix">
                <h3 class="pull-left text-warning">{{ group.name }}</h3>
                {% if group.rg.length > 4%}
                  <a class="pull-right small more" href="/shopping/promotes/{{ group.id }}">更多</a>
                {% endif %}
              </div>
              <div class="graphic clearfix">
                {% for item in group.rg %}
                  <a class="piece" href="/shopping/details/{{ item.id }}">
                    <div class="figure row">
                      <div class="col">
                        <img src="{{ item.goodsImg }}" />
                      </div>
                    </div>
                    <div class="information">
                      <h3 class="ellipsis text-gray small">{{ item.publishName }}</h3>
                      <div class="price">
                        <span class="text-danger">{{ item.price|currency }}</span>
                        <span class="tiny text-gray through">{{ item.originalPrice|currency }}</span>
                        <span class="tiny text-gray pull-right counts">
                          <i class="icon icon-fav-gray"></i>98
                        </span>
                      </div>
                    </div>
                  </a>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </section>
    {{ macro.footer('shopping') }}
  </div>
{% endblock %}

{% block script %}
  <script src="{{ shost }}/mobile/js/shopping.js"></script>
{% endblock %}