{% set title = "乐购"; %}
{% extends './modules/common/templates/layout.html' %}

{% block title %}乐购{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ shost }}/mobile/css/shopping-home.css" />
{% endblock %}

{% block content %}
  <div class="shopping-home">
    <header class="bar fixed">
      {{ macro.iconBack() }}
      <h1>{{ title }}</h1>
      <a class="right-icon"><i class="icon icon-cart"></i></a>
    </header>
    <section class="has-header has-footer">
      <div class="slider">
        <div class="swiper-wrapper">
          {% for item in [1,2,3,4,5]%}
            <div class="swiper-slide">
              <img src="{{ shost }}/mobile/images/holder/slider.png">
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>

      {% if category %}
        <div class="myapps clearfix">
          {% if category.length > 4 %}
            {% for item in category %}
              {% if loop.index < 4 %}
                <a href="/shopping/channel/{{ item.id }}" class="item">
                  <img src="{{ item.icon }}" />
                  <span>{{ item.name }}</span>
                </a>
              {% endif %}
            {% endfor %}
            <a href="/shopping/category" class="item">
              <i class="icon icon-more center-block"></i>
              <span>更多分类</span>
            </a>
          {% else %}
            {% for item in category %}
              <a href="/shopping/channel/{{ item.id }}" class="item">
                <img src="{{ item.icon }}" />
                <span>{{ item.name }}</span>
              </a>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      {% if recommend%}
        {% for group in recommend %}
          {% if group.rg.length %}
            <div class="itemblock">
              <h3><a class="more-btn">更多</a> {{ group.name }}</h3>
              <ul class="clearfix">
                {% for item in group.rg %}
                  <li>
                    <a href="/shopping/details/{{ item.id }}">
                      <p class="img"><img src="{{ item.goodsImg }}"></p>
                      <p class="tit">{{ item.publishName }}</p>
                      <p class="price">
                        <em>￥<i>{{ item.price }}</i></em> 
                        <span>￥<i>{{ item.originalPrice }}</i></span>
                      </p>
                      <span class="liked"> <em class="icon icon-icon-like"></em>0</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </section>
    {{ macro.footer('shopping') }}
  </div>
{% endblock %}

{% block script %}
  <script src="{{ shost }}/mobile/js/shopping.js"></script>
{% endblock %}